Report/ground_imaging_report.aux
Report/ground_imaging_report.bbl
Report/ground_imaging_report.blg
Report/ground_imaging_report.log
Report/ground_imaging_report.out
*.bak
Report/ground_imaging_report.synctex.gz